<h1>Coach Says...</h1>
<p>
  <div class="container">
  <span class="bold-text">Question:</span><span><%= @question %></span>
  <p></p>
  <span class="bold-text">Response:</span><span><%= @response %></span>
  <p><%= link_to "Ask Another question!", "ask" %></p>
</div>
