<h1>Ask Coach...</h1>
<div class="container">
  <form class="form-container" action="/answer" >
    <p>Ask your coach anything</p>
    <input class="form-input" type="text" name="question" placeholder="Ask away...">
    <input class="form-button" type="submit" value="ask">
  </form>
</div>
