<table id="calendar-container">
  <th id="calendar-header">
    <tr>
      <td id="current-month">October</td>
      <td id="previous-month">Left</td>
      <td id="next-month">Right</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
    </tr>
  </th>
  <tbody id="calendar-body">
    <tr>
    </tr>
  </tbody>
</table>

<script>
  const calContainer = document.getElementById('calendar-container');
  const calHeader = document.getElementById('calendar-header');
  const calBody = document.getElementById('calendar-body');
  const currMonth = document.getElementById('current-month');
  const prevMonth = document.getElementById('previous-month');
  const nextMonth = document.getElementById('next-month');

</script>
